<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>My ToDo App</title>
  </head>
  <body>
    <h1>ToDo App</h1>

    <form method="POST" action="/">
      {% csrf_token %}
      {{ form.title }}

      <input type="submit" name="Create Task" value="submit">

    </form>

    {% for task in tasks %}
      <div class="">
        <a href="{% url 'update_task' task.id %}">Update</a>
        <a href="{% url 'delete' task.id %}">Delete</a>

        {% if task.complete == True %}
        <strike>{{ task }}</strike>
        {% else %}
        <span>{{ task }}</span>
        {% endif %}

      </div>
    {% endfor %}

  </body>
</html>
